{% extends "base.html" %}

{% block title %}Stef Borden{% endblock %}

{% block content %}
<div class='row'>     
  <div class='column' style='padding-left:35px;padding-right:20px;'>
      <img src="../../static/website/images/floyd.jpg">
  </div>

  <div class='column' style='padding-left:50px;padding-right:20px;'>
      <img src="../../static/website/images/gen.jpg">
  </div>

  <div class='column' style='padding-left:50px;padding-right:20px;'>
      <img src="../../static/website/images/memorial.jpg">
  </div>

</div>

{% endblock %}}
