{% extends "base.html" %}

{% block title %}Stef Borden - CV{% endblock %}

{% block content %}

    <body id="page-top">
    <div align='center' style='padding:60px'>
        <p>I am a recent graduate from the University of St Andrews with a First Class BSc in Mathematics and Philosophy. I will begin work in September 2020 at American Express as a Technology Graduate in Brighton.</p>
    </div>
            <!-- Experience-->
            <section class="resume-section" id="experience">
                <div class="resume-section-content">
                    <h2 class="mb-5">Experience</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">American Express Technology Intern</h3>
                            <p></p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">June - September 2019</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Mathematics Tutor</h3>
                            <div class="subheading mb-3">www.mytutor.co.uk</div>
                            <p></p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">October 2017 - March 2020</span></div>
                    </div>

                </div>
            </section>
            <hr class="m-0" />
            <!-- Education-->
            <section class="resume-section" id="education">
                <div class="resume-section-content">
                    <h2 class="mb-5">Education</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">University of St Andrews</h3>
                            <div class="subheading mb-3">Bachelor of Science</div>
                            <div>First Class 1:1, Mathematics and Philosophy (16.5)</div>
                            <p>Dean's List for Academic Excellence 2019/20 & 2016/17</p>
                            <p>2019/2020 (Hons)</p>
                            <ul>
                                <li>Mathematics: Complex Analysis; Computing in Mathematics; Group theory; dissertation on Geometric Impossibility.</li>
                                <li>Philosophy: Paradoxes; Philosophy of Perception.</li>
                            </ul>
                            <p>2018/2019 (Hons)</p>
                            <ul>
                                <li>Mathematics: Linear Mathematics 2; Real Analysis.</li>
                                <li>Philosophy: Reading Philosophy: Texts in Language, Logic, Mind, Epistemology, Metaphysics and Science.</li>
                            </ul>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">2016 - 2020</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">University of North Carolina at Chapel Hill</h3>
                            <div class="subheading mb-3">Study Abroad, Semester</div>
                            <ul>
                                <li>Mathematics: Abstract Algebra; Functions in complex variables and their applications.</li>
                                <li>Philosophy: Normative epistemology; Plato's Republic.</li>
                            </ul>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">January - June 2019</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                            <div class="flex-grow-1">
                                <h3 class="mb-0">Dame Alice Owen's School</h3>
                                <div class="subheading mb-3"></div>
                                <p>A Levels</p>
                                <ul>
                                    <li>4 x A* : Mathematics, Further Mathematics, History, German</li>
                                    <li>A : Economics (AS Level)</li>
                                </ul>
                                <p>GCSEs</p>
                                <ul>
                                    <li>11 x A*</li>
                                </ul>
                                <p>Subject Prize for Mathematics (2015) | Award for Outstanding Contribution to School Life (2016) | Elected Deputy Head Girl (2016/17)</p>
                            </div>
                            <div class="flex-shrink-0"><span class="text-primary">September 2009 - June 2016</span></div>
                        </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Skills-->
            <section class="resume-section" id="skills">
                <div class="resume-section-content">
                    <h2 class="mb-5">Skills</h2>
                    <div class="subheading mb-3"></div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Interests-->
            <section class="resume-section" id="interests">
                <div class="resume-section-content">
                    <h2 class="mb-5">Interests</h2>
                    <p></p>
                    <p class="mb-0"></p>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Awards-->
            <section class="resume-section" id="awards">
                <div class="resume-section-content">
                    <h2 class="mb-5">Awards & Certifications</h2>
                    
                </div>
            </section>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
{% endblock %}