{% extends "base.html" %}

{% block title %}Stef Borden{% endblock %}

{% block content %}
<div class='row'>     
  <div class='column diaries'>
      <img class = 'entry' src="../../static/website/images/remedios.jpg">
    <div class='hover'>
        <div class='text'>ONE HUNDERED YEARS OF SOLITUDE</div>
    </div>
  </div>

  <div class='column diaries'>
      <img class ='entry' src="../../static/website/images/cholera.jpg">
    <div class='hover'>
       <div class='text'>LOVE IN THE TIME OF CHOLERA</div> 
    </div>
  </div>


<div class='column diaries'>
    <img class='entry' src="../../static/website/images/suitable.jpg">
    <div class='hover'>
        <div class='text'>A SUITABLE BOY</div>
    </div>
</div>

</div>

{% endblock %}}
