{% extends "base.html" %}

{% block title %}Stef Borden{% endblock %}

{% block content %}

<div class="text-center">
<em>”The world must be all fucked up...when men travel first class and literature goes as freight.”</em>
</div>

<div class='row'>     

  <div class='column diaries'>
      <img class = 'entry' src="../../static/website/images/remedios.jpg">
    <div class='hover'>
        <a href="{% url 'book_detail' %}"><div class='book_name'>ONE HUNDERED YEARS OF SOLITUDE</div></a> 
    </div>
  </div>

  <div class='column diaries'>
      <img class ='entry' src="../../static/website/images/cholera.jpg">
    <div class='hover'>
       <div class='book_name'>LOVE IN THE TIME OF CHOLERA</div> 
    </div>
  </div>


  <div class='column diaries'>
    <img class='entry' src="../../static/website/images/suitable.jpg">
    <div class='hover'>
        <div class='book_name'>A SUITABLE BOY</div>
    </div>
  </div>

</div>

<div class=row>

  <div class='column diaries'>
      <img class='entry' src="../../static/website/images/wrath.jpg">
      <div class='hover'>
          <div class='book_name'>THE GRAPES OF WRATH</div>
      </div>
  </div>

  <div class='column diaries'>
      <img class='entry' src="../../static/website/images/catch.jpg">
      <div class='hover'>
          <div class='book_name'>CATCH 22</div>
      </div>
  </div>

  <div class='column diaries'>
      <img class='entry' src="../../static/website/images/tiger.jpg">
      <div class='hover'>
          <div class='book_name'>THE WHITE TIGER</div>
      </div>
  </div>

</div>

{% endblock %}}
