 /* my css */

 input {max-width: 12em};

 .diaries {
     position: relative;
     display: block;
   }
 
 .entry {
     padding-left:50px;
     padding-top:30px;
     max-width: 100%;
     height: auto;
 }
 
 .book_name {
     color:black;
     font-size: 15px;
     padding-left: 50px;
   }
 
 .diaries .hover{
     height: auto;
     max-width: 100%;
     opacity: 0;
     transition: .5s ease;
     position: relative;
     left: 50%;
     bottom:50%;
     transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     text-align: center;
 }
 
 .diaries:hover .entry{
     opacity:0.3;
 }
 .diaries:hover .hover {
     opacity: 1;
   }
